<nav class="sticky-nav">
  <div class="sticky-nav__container">
    
    <a href="" class="logo sticky-nav__logo sticky-nav__logo--scroll">Krea.</a>
    
    <ul class="sticky-nav__list">
      <li class="sticky-nav__item">
        <a href="" class="sticky-nav__link sticky-nav__link--scroll">Services</a>
      </li>
      
      <li class="sticky-nav__item">
        <a href="" class="sticky-nav__link sticky-nav__link--scroll">Works</a>
      </li>
      
      <li class="sticky-nav__item">
        <a href="" class="sticky-nav__link sticky-nav__link--scroll">References</a>
      </li>
      
      <li class="sticky-nav__item">
        <a href="" class="sticky-nav__link sticky-nav__link--scroll">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>